.ax_default {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#1E98D7;
}
.box_3 {
}
.placeholder {
}
.shape {
}
.image {
}
.button {
}
.heading_1 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:13px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.link_button1 {
  color:#169BD5;
}
.icon {
}
.flow_shape {
}
.connector {
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.text_field {
  color:#000000;
  text-align:left;
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.shape1 {
}
.image1 {
}
.flow_shape1 {
}
.form_disabled {
}
.primary_button1 {
  color:#FFFFFF;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.flow_shape2 {
}
.box_2 {
}
.ellipse {
}
.line {
}
.tab {
  font-size:20px;
}
.tab-hoover {
  font-size:20px;
  color:#000000;
}
.tab-selected {
  font-size:20px;
  color:#FFFFFF;
}
.checkbox1 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.title__web_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:56px;
  color:#333333;
}
.shape2 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
}
.image2 {
  color:#000000;
}
.body_text__web_ {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.caption_1 {
  font-family:"Open Sans Light", "Open Sans", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.caption_2 {
  font-family:"Open Sans Light", "Open Sans", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
.title__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
  text-align:left;
}
.heading_1__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
.heading_2__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
.heading_3__app_ {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.headline__app_ {
  font-family:"Open Sans Semibold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.body_text__app_ {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.callout__app_ {
  font-family:"Open Sans Semibold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.default_button {
  font-family:"Open Sans Semibold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
.cta_button {
  font-family:"Open Sans Semibold", "Open Sans", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.shape3 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_11 {
}
textarea, select, input, button { outline: none; }
